<form class="" action="/students" method="post">

  <table>
    <tr>
      <td><label for="first-name">First Name: </label></td>
      <td><input type="text" id="first-name" name="first_name" value=""></td>
    </tr>
    <tr>
      <td><label for="last-name">Last Name: </label></td>
      <td><input type="text" id="last-name" name="last_name" value=""></td>
    </tr>
    <tr>
      <td><label for="age">Age: </label></td>
      <td><input type="number" id="age" name="age" value=""></td>
    </tr>
    <tr>
      <td><label for="house">House: </label></td>

      <td>
        <select class="" id="house_id" name="house_id">
          <% @houses.each do |house| %>
            <option value= "<%=house.id%>"><%=house.name%></option>
          <%end%>
        </select>
      </td>
    </tr>
  </table>
  <input type="submit" value="Add Student">

</form>
